<% episodes.forEach(function(episode){ %>
  <ul>
    <li><%= episode.sequence %></li>
    <li><%= episode.title %></li>
    <li><%= episode.date %></li>
    <li><%= episode.length %></li>
    <% episode.tags.forEach(function(tag){ %>
    <li><%= tag %></li>
    <% }) %>
    <li><%= episode.description %></li>
    <li><%= episode.screenshot %></li>
    <li><%= episode.source %></li>
    <li><%= episode.video %></li>
  </ul>
<% }) %>
